<!DOCTYPE HTML>
<html>
<head>
<title>Tuan Pham Web RTC</title>
</head>

<body>
<h1>Tuan Pham xin chao</h1>
<video id="stream" width="300" controls ></video>
<br><br>
<textarea cols="100" rows="3" id="txtMySignal"></textarea>
<br><br>
<input type="text" placeholder="Your Signal's token" id="txtSignalToken">
<br><br>
<button id="btn_connect">Connect</button>
</body>
<script>
	
</script>
<script src="open_stream.js"></script>
</html>