<!DOCTYPE HTML>
<html>
<head>
<title>Tuan Pham Web RTC</title>
</head>

<body>
<h1>Tuan Pham xin chao</h1>
<video id="stream" width="300" controls ></video>
</body>
<script>
	
</script>
<script src="open_camera.js"></script>
</html>